[data-layout="sinppets"] [data-scope="qr-code"][data-part="root"]{
  width: 135px;
  height: 135px;
}

[data-layout="sinppets"] [data-scope="qr-code"][data-part="frame"]{
  width: 135px;
  height: 135px;
  --un-bg-opacity: 1;
  background-color: hsl(var(--background) / var(--un-bg-opacity));
}

[data-layout="sinppets"] [data-scope="qr-code"][data-part="pattern"]{
    --un-fill-opacity: 1;
  fill: hsl(var(--primary) / var(--un-fill-opacity));
}
