[data-scope="qr-code"][data-part="frame"] {
  width: 270px;
  height: 270px;
  background-color: white;
}

[data-scope="qr-code"][data-part="pattern"] {
  fill: green;
}

[data-scope="qr-code"][data-part="overlay"] {
  width: 25%;
  height: 25%;
  outline: 4px solid white;
  z-index: 1;

  & img {
    width: 100%;
    height: 100%;
  }
}
