[data-layout="sinppets"] [data-scope="menu"][data-part="trigger"]{
  & {
    align-items: center;
    justify-content: center;
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
    margin-left: 1rem; /* 16px */
    border-radius: calc(var(--radius) - 2px);
    --un-ring-offset-opacity: 1;
    --un-ring-offset-color: hsl(var(--background) / var(--un-ring-offset-opacity))
      /* hsl(var(--background)) */;
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    height: 2.5rem; /* 40px */
    padding-left: 1rem; /* 16px */
    padding-right: 1rem; /* 16px */
    padding-top: 0.5rem; /* 8px */
    padding-bottom: 0.5rem; /* 8px */
    font-weight: 500;
    outline: 2px solid transparent !important;
    outline-offset: 2px !important;
    --un-bg-opacity: 1 !important;
    background-color: hsl(var(--primary) / var(--un-bg-opacity))
      /* hsl(var(--primary)) */ !important;
    --un-text-opacity: 1 !important;
    color: hsl(var(--primary-foreground) / var(--un-text-opacity))
      /* hsl(var(--primary-foreground)) */ !important;
  }
  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }
  &:hover {
    background-color: hsl(var(--primary) / 0.9) /* hsl(var(--primary)) */ !important;
  }
}

[data-layout="sinppets"][data-scope="menu"][data-part="positioner"]{
  & {
    z-index: 50 !important;
    min-width: 8rem; /* 128px */
    overflow: hidden;
    border-radius: calc(var(--radius) - 2px);
    border-width: 1px;
    --un-border-opacity: 1 !important;
    border-color: hsl(var(--border) / var(--un-border-opacity)) !important;
    width: 14rem; /* 224px */
    --un-bg-opacity: 1;
    background-color: hsl(var(--popover) / var(--un-bg-opacity))
      /* hsl(var(--popover)) */;
    padding: 0.25rem; /* 4px */
    --un-text-opacity: 1;
    color: hsl(var(--popover-foreground) / var(--un-text-opacity))
      /* hsl(var(--popover-foreground)) */;
    --un-shadow: var(--un-shadow-inset) 0 4px 6px -1px var(--un-shadow-color, rgb(0
              0 0 / 0.1)),
      var(--un-shadow-inset) 0 2px 4px -2px var(--un-shadow-color, rgb(0 0 0 / 0.1));
    box-shadow: var(--un-ring-offset-shadow), var(--un-ring-shadow),
      var(--un-shadow);
    outline: 2px solid transparent !important;
    outline-offset: 2px !important;
  }
  &:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  &[data-side="bottom"] {
    --una-enter-translate-y: -0.5rem; /* -8px */
  }
  &[data-side="left"] {
    --una-enter-translate-x: 0.5rem; /* 8px */
  }
  &[data-side="right"] {
    --una-enter-translate-x: -0.5rem; /* -8px */
  }
  &[data-side="top"] {
    --una-enter-translate-y: 0.5rem; /* 8px */
  }
  &[data-state="closed"] {
    animation: una-out;
    animation-name: una-out;
    animation-duration: 150ms;
    --una-exit-opacity: initial;
    --una-exit-scale: initial;
    --una-exit-rotate: initial;
    --una-exit-translate-x: initial;
    --una-exit-translate-y: initial;
    --una-exit-opacity: 0;
    --una-exit-scale: 0.95;
  }
  &[data-state="open"] {
    animation: una-in;
    animation-name: una-in;
    animation-duration: 150ms;
    --una-enter-opacity: initial;
    --una-enter-scale: initial;
    --una-enter-rotate: initial;
    --una-enter-translate-x: initial;
    --una-enter-translate-y: initial;
    --una-enter-opacity: 0;
    --una-enter-scale: 0.95;
  }
}

[data-layout="sinppets"] [data-scope="menu"][data-part="separator"]{
  margin-left: -0.25rem; /* -4px */
  margin-right: -0.25rem; /* -4px */
  margin-top: 0.25rem; /* 4px */
  margin-bottom: 0.25rem; /* 4px */
  height: 1px;
  --un-bg-opacity: 1;
  background-color: hsl(var(--muted) / var(--un-bg-opacity));
}

[data-layout="sinppets"] [data-scope="menu"][data-part="content"]{
  & {
    padding: 0.25rem; /* 4px */
    padding-bottom: 0;
    outline: 2px solid transparent !important;
    outline-offset: 2px !important;
  }
  &:last-child {
    padding-bottom: 0.25rem; /* 4px */
  }
}

[data-layout="sinppets"] [data-scope="menu"][data-part="item"]{
  & {
    position: relative;
    display: flex;
    -webkit-user-select: none;
    user-select: none;
    align-items: center;
    border-radius: calc(var(--radius) - 4px);
    padding-left: 0.5rem; /* 8px */
    padding-right: 0.5rem; /* 8px */
    padding-top: 0.375rem; /* 6px */
    padding-bottom: 0.375rem; /* 6px */
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
    outline: 2px solid transparent;
    outline-offset: 2px;
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    cursor: pointer;
  }
  &[data-disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }
  &[data-highlighted] {
    --un-bg-opacity: 1;
    background-color: hsl(var(--accent) / var(--un-bg-opacity))
      /* hsl(var(--accent)) */;
    --un-text-opacity: 1;
    color: hsl(var(--accent-foreground) / var(--un-text-opacity))
      /* hsl(var(--accent-foreground)) */;
  }
}
