[data-layout="sinppets"] [data-scope="image"][data-part="root"]{
  position: relative;
  margin-top: 0 !important;
  display: flex;
  height: 2.5rem; /* 40px */
  width: 2.5rem; /* 40px */
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 9999px;
}

[data-layout="sinppets"] [data-scope="image"][data-part="image"]{
  aspect-ratio: 1/1;
  height: 100%;
  width: 100%;
  border-width: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

[data-layout="sinppets"] [data-scope="image"][data-part="fallback"]{
  margin-top: 0 !important;
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 9999px;
  align-items: center;
  justify-content: center;
  --un-bg-opacity: 1;
  background-color: hsl(var(--muted) / var(--un-bg-opacity));
}
