[data-layout="sinppets"] [data-scope="steps"][data-part="root"]{
  width: 70%;
}

[data-layout="sinppets"] [data-scope="steps"][data-part="list"]{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

[data-layout="sinppets"] [data-scope="steps"][data-part="item"]{
  position: relative;
  flex: 1 1 0%;
  margin-top: 0 !important;
}

[data-layout="sinppets"] [data-scope="steps"][data-part="trigger"]{
  display: flex;
  width: 100%;
  align-items: center;
  gap: 0.5rem; /* 8px */
  z-index: 4 !important;
}

[data-layout="sinppets"] [data-scope="steps"][data-part="indicator"]{
  & {
    display: flex;
    height: 2rem; /* 32px */
    width: 2rem; /* 32px */
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    border-width: 2px;
    --un-bg-opacity: 1;
    background-color: hsl(var(--background) / var(--un-bg-opacity))
      /* hsl(var(--background)) */;
    --un-text-opacity: 1;
    color: hsl(var(--foreground) / var(--un-text-opacity))
      /* hsl(var(--foreground)) */;
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    --un-border-opacity: 1;
    border-color: hsl(var(--border) / var(--un-border-opacity));
    z-index: 2 !important;
  }
  &[data-current] {
    --un-bg-opacity: 1;
    background-color: hsl(var(--primary) / var(--un-bg-opacity))
      /* hsl(var(--primary)) */;
    --un-text-opacity: 1;
    color: hsl(var(--primary-foreground) / var(--un-text-opacity))
      /* hsl(var(--primary-foreground)) */;
  }
  &[data-state="active"] {
    --un-bg-opacity: 1;
    background-color: hsl(var(--primary) / var(--un-bg-opacity))
      /* hsl(var(--primary)) */;
    --un-text-opacity: 1;
    color: hsl(var(--primary-foreground) / var(--un-text-opacity))
      /* hsl(var(--primary-foreground)) */;
  }
  &[data-state="complete"] {
    --un-bg-opacity: 1;
    background-color: hsl(var(--primary) / var(--un-bg-opacity))
      /* hsl(var(--primary)) */;
    --un-text-opacity: 1;
    color: hsl(var(--primary-foreground) / var(--un-text-opacity))
      /* hsl(var(--primary-foreground)) */;
  }
  .group:focus-visible & {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --un-ring-opacity: 1;
    --un-ring-color: hsl(var(--ring) / var(--un-ring-opacity))
      /* hsl(var(--ring)) */;
    --un-ring-width: 2px;
    --un-ring-offset-shadow: var(--un-ring-inset) 0 0 0
      var(--un-ring-offset-width) var(--un-ring-offset-color);
    --un-ring-shadow: var(--un-ring-inset) 0 0 0
      calc(var(--un-ring-width) + var(--un-ring-offset-width))
      var(--un-ring-color);
    box-shadow: var(--un-ring-offset-shadow), var(--un-ring-shadow),
      var(--un-shadow);
    --un-ring-offset-width: 2px;
  }
  .group:hover & {
    border-color: hsl(var(--primary) / 0.5);
  }
}

[data-layout="sinppets"] [data-scope="steps"][data-part="separator"]{
  & {
    position: absolute;
    left: 0;
    top: 1rem; /* 16px */
    z-index: 0;
    width: 100%;
    border-top-width: 2px;
    --un-border-opacity: 1;
    border-color: hsl(var(--border) / var(--un-border-opacity));
    margin-top: 0 !important;
  }
}

[data-layout="sinppets"] [data-scope="steps"][data-part="content"]{
  & {
    border-radius: var(--radius);
    border-width: 1px;
    --un-border-opacity: 1;
    border-color: hsl(var(--border) / var(--un-border-opacity));
    --un-bg-opacity: 1;
    background-color: hsl(var(--card) / var(--un-bg-opacity))
      /* hsl(var(--card)) */;
    padding: 1.5rem; /* 24px */
    --un-text-opacity: 1;
    color: hsl(var(--card-foreground) / var(--un-text-opacity))
      /* hsl(var(--card-foreground)) */;
    margin-top: 0.5rem !important; /* 8px */
    --un-shadow: var(--un-shadow-inset) 0 1px 2px 0
      var(--un-shadow-color, rgb(0 0 0 / 0.05));
    box-shadow: var(--un-ring-offset-shadow), var(--un-ring-shadow),
      var(--un-shadow);
  }
}

[data-layout="sinppets"] [data-scope="steps"][data-part="prev-trigger"]{
  & {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    column-gap: 0.625rem; /* 10px */
    border-radius: calc(var(--radius) - 2px);
    --un-bg-opacity: 1 !important;
    background-color: hsl(var(--primary) / var(--un-bg-opacity))
      /* hsl(var(--primary)) */ !important;
    padding-left: 0.875rem; /* 14px */
    padding-right: 0.875rem; /* 14px */
    padding-top: 0.625rem; /* 10px */
    padding-bottom: 0.625rem; /* 10px */
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
    --un-text-opacity: 1 !important;
    color: hsl(var(--primary-foreground) / var(--un-text-opacity))
      /* hsl(var(--primary-foreground)) */ !important;
    font-weight: 500;
    --un-shadow: var(--un-shadow-inset) 0 1px 2px 0
      var(--un-shadow-color, rgb(0 0 0 / 0.05));
    box-shadow: var(--un-ring-offset-shadow), var(--un-ring-shadow),
      var(--un-shadow);
    --un-bg-opacity: 1;
    background-color: hsl(var(--secondary) / var(--un-bg-opacity))
      /* hsl(var(--secondary)) */;
    --un-text-opacity: 1;
    color: hsl(var(--secondary-foreground) / var(--un-text-opacity))
      /* hsl(var(--secondary-foreground)) */;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.75;
  }
  &:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  &:focus-visible {
    outline-width: 2px;
    --un-outline-color-opacity: 1;
    outline-color: rgb(242 242 242 / var(--un-outline-color-opacity))
      /* #f2f2f2 */;
    outline-offset: 2px;
    outline-style: solid;
  }
  &:hover {
    background-color: hsl(var(--primary) / 0.9) /* hsl(var(--primary)) */ !important;
    background-color: hsl(var(--secondary) / 0.9) /* hsl(var(--secondary)) */;
  }
  .group[data-theme="dark"] &:focus-visible {
    --un-outline-color-opacity: 1;
    outline-color: rgb(246 246 246 / var(--un-outline-color-opacity))
      /* #f6f6f6 */;
  }
}

[data-layout="sinppets"] [data-scope="steps"][data-part="next-trigger"]{
  & {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    column-gap: 0.625rem; /* 10px */
    border-radius: calc(var(--radius) - 2px);
    --un-bg-opacity: 1 !important;
    background-color: hsl(var(--primary) / var(--un-bg-opacity))
      /* hsl(var(--primary)) */ !important;
    padding-left: 0.875rem; /* 14px */
    padding-right: 0.875rem; /* 14px */
    padding-top: 0.625rem; /* 10px */
    padding-bottom: 0.625rem; /* 10px */
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
    --un-text-opacity: 1 !important;
    color: hsl(var(--primary-foreground) / var(--un-text-opacity))
      /* hsl(var(--primary-foreground)) */ !important;
    font-weight: 500;
    --un-shadow: var(--un-shadow-inset) 0 1px 2px 0
      var(--un-shadow-color, rgb(0 0 0 / 0.05));
    box-shadow: var(--un-ring-offset-shadow), var(--un-ring-shadow),
      var(--un-shadow);
    margin-top: 0 !important;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.75;
  }
  &:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  &:focus-visible {
    outline-width: 2px;
    --un-outline-color-opacity: 1;
    outline-color: rgb(242 242 242 / var(--un-outline-color-opacity))
      /* #f2f2f2 */;
    outline-offset: 2px;
    outline-style: solid;
  }
  &:hover {
    background-color: hsl(var(--primary) / 0.9) /* hsl(var(--primary)) */ !important;
  }
  .group[data-theme="dark"] &:focus-visible {
    --un-outline-color-opacity: 1;
    outline-color: rgb(246 246 246 / var(--un-outline-color-opacity))
      /* #f6f6f6 */;
  }
}
