[data-layout="sinppets"] [data-scope="file-upload"][data-part="root"]{
  width: 100%;
  min-width: 28rem; /* 448px */
  margin-left: auto;
  margin-right: auto;
}

[data-layout="sinppets"] [data-scope="file-upload"][data-part="dropzone"]{
  & {
    margin-top: 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-width: 1px;
    border-style: dashed;
    --un-border-opacity: 1;
    border-color: hsl(var(--border) / var(--un-border-opacity));
    border-radius: calc(var(--radius) - 2px);
    padding: 2rem; /* 32px */
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    cursor: pointer;
    --un-bg-opacity: 1;
    background-color: hsl(var(--background) / var(--un-bg-opacity))
      /* hsl(var(--background)) */;
  }
  &:hover {
    border-color: hsl(var(--primary) / 0.5);
  }
  &[data-dragging] {
    background-color: hsl(var(--popover) / 0.5) /* hsl(var(--popover)) */;
  }
}

[data-layout="sinppets"] [data-scope="file-upload"][data-part="trigger"]{
  & {
    margin-top: 0.5rem !important; /* 8px */
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
    font-weight: 500;
    height: 2.25rem; /* 36px */
    padding-left: 1rem; /* 16px */
    padding-right: 1rem; /* 16px */
    padding-top: 0.5rem; /* 8px */
    padding-bottom: 0.5rem; /* 8px */
    --un-bg-opacity: 1;
    background-color: hsl(var(--primary) / var(--un-bg-opacity))
      /* hsl(var(--primary)) */;
    --un-text-opacity: 1;
    color: hsl(var(--primary-foreground) / var(--un-text-opacity))
      /* hsl(var(--primary-foreground)) */;
    border-radius: calc(var(--radius) - 2px);
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
  &:hover {
    background-color: hsl(var(--primary) / 0.9) /* hsl(var(--primary)) */;
  }
}

[data-layout="sinppets"] [data-scope="file-upload"][data-part="item-group"]{
  margin-top: 1rem !important; /* 16px */
  margin-left: 0 !important;
}

[data-layout="sinppets"] [data-scope="file-upload"][data-part="item"]{
  & {
    margin-top: 0 !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem; /* 12px */
    --un-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--un-bg-opacity)) /* #fff */;
    border-radius: calc(var(--radius) - 2px);
    border-width: 1px;
    --un-border-opacity: 1;
    border-color: rgb(228 228 231 / var(--un-border-opacity));
    --un-shadow: var(--un-shadow-inset) 0 1px 2px 0
      var(--un-shadow-color, rgb(0 0 0 / 0.05));
    box-shadow: var(--un-ring-offset-shadow), var(--un-ring-shadow),
      var(--un-shadow);
  }
  .dark & {
    --un-bg-opacity: 1;
    background-color: rgb(24 24 27 / var(--un-bg-opacity)) /* #18181b */;
    --un-border-opacity: 1;
    border-color: rgb(39 39 42 / var(--un-border-opacity));
  }
}

[data-layout="sinppets"] [data-scope="file-upload"][data-part="item-name"]{
  & {
    margin-top: 0 !important;
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
    --un-text-opacity: 1;
    color: rgb(24 24 27 / var(--un-text-opacity)) /* #18181b */;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 400px;
  }
  .dark & {
    --un-text-opacity: 1;
    color: rgb(250 250 250 / var(--un-text-opacity)) /* #fafafa */;
  }
}

[data-layout="sinppets"] [data-scope="file-upload"][data-part="item-delete-trigger"]{
  & {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem; /* 24px */
    height: 1.5rem; /* 24px */
    border-radius: calc(var(--radius) - 2px);
    --un-text-opacity: 1;
    color: rgb(113 113 122 / var(--un-text-opacity)) /* #71717a */;
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
  &:hover {
    --un-bg-opacity: 1;
    background-color: rgb(244 244 245 / var(--un-bg-opacity)) /* #f4f4f5 */;
  }
  .dark & {
    --un-text-opacity: 1;
    color: rgb(161 161 170 / var(--un-text-opacity)) /* #a1a1aa */;
  }
  .dark &:hover {
    --un-bg-opacity: 1;
    background-color: rgb(39 39 42 / var(--un-bg-opacity)) /* #27272a */;
  }

  & div {
    --at-apply: i-lucide-x;
    width: 1rem; /* 16px */
    height: 1rem; /* 16px */
  }
}
