
:root{
  --twoslash-popup-bg: #FFFFFF;
  --twoslash-popup-color: rgba(60, 60, 67);
  --twoslash-border-color: #c2c2c4;
}

.dark {
  --twoslash-popup-bg: #1b1b1f;
  --twoslash-popup-color: rgba(255, 255, 245, .86);
  --twoslash-border-color: #3c3f44;
}

.twoslash-popup-code .shiki {
  background-color: var(--twoslash-popup-bg) !important;
}

.v-popper--theme-twoslash .v-popper__inner {
  background: var(--twoslash-popup-bg);
  color: var(--twoslash-popup-color);
  border-color: var(--twoslash-border-color);
}

.v-popper--theme-twoslash .v-popper__arrow-outer {
  border-color: var(--twoslash-border-color);
}


.v-popper--theme-twoslash .v-popper__arrow-inner {
  border-color: var(--twoslash-popup-bg);
}

.v-popper__popper[data-popper-placement^=bottom] .v-popper__arrow-inner, .v-popper__popper[data-popper-placement^=bottom] .v-popper__arrow-outer {
  border-top-width: 0;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
}
