:root {
  --border: hsl(240 3.7% 15.9%);
  --input: hsl(240 3.7% 15.9%);
  --ring: hsl(240 4.9% 83.9%);
  --background: hsl(240 10% 3.9%);
  --foreground: hsl(0 0% 98%);
  --primary: hsl(0 0% 98%);
  --primary-foreground: hsl(240 5.9% 10%);
  --secondary: hsl(240 3.7% 15.9%);
  --secondary-foreground: hsl(0 0% 98%);
  --destructive: hsl(0 62.8% 30.6%);
  --destructive-foreground: hsl(0 85.7% 97.3%);
  --muted: hsl(240 3.7% 15.9%);
  --muted-foreground: hsl(240 5% 64.9%);
  --accent: hsl(240 3.7% 15.9%);  
  --accent-foreground: hsl(0 0% 98%);
  --popover: hsl(240 10% 3.9%);
  --popover-foreground: hsl(0 0% 98%);
  --card: hsl(240 10% 3.9%);
  --card-foreground: hsl(0 0% 98%);
}

.slider-root {
  display: flex;
  touch-action: none;
  user-select: none;
  align-items: center;
}

.slider-control {
  width: 100%;
  position: relative;
}

.slider-track {
  position: relative;
  height: 8px;
  width: 100%;
  flex-grow: 1;
  overflow: hidden;
  border-radius: 9999px;
  background-color: var(--secondary);
}

.slider-range {
  position: absolute;
  height: 100%;
  background-color: var(--primary);
}

.slider-thumb {
  position: absolute;
  top: -6px;
  cursor: pointer;
  display: block;
  height: 20px;
  width: 20px;
  border-radius: 9999px;
  border: 2px solid var(--primary);
  background-color: var(--background);
  transition-property: color, background-color, border-color;
  transition-timing-function: ease;
  transition-duration: 150ms;
}

.slider-thumb:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--ring);
  box-shadow: 0 0 0 2px var(--ring), 0 0 0 4px var(--background);
}

.slider-thumb:disabled {
  pointer-events: none;
  opacity: 0.5;
}
