---

---

<div class="border-y-px border-border bg-background">
  <div class="w-full max-w-90rem mx-auto px-4 md:px-8 py-16 md:py-24 relative">
    <div class="flex flex-col lg:flex-row gap-12 lg:gap-16">
      <div class="flex flex-col items-start gap-8 md:gap-10">
        <!-- desc -->
        <div class="flex flex-col gap-4 md:gap-5 max-w-3xl">
          <h2 class="font-600 text-2xl md:text-3xl">
            Build your design system with xstate component today
          </h2>
          <p class="text-foreground/60 text-lg md:text-xl">
            Finite state machines for building accessible design systems and UI components. Works with React, Vue and Solid.
          </p>
        </div>
        <!-- link -->
        <a href="/guide/getting-started" class="decoration-none! hover:decoration-none! md:text-lg md:gap-3 h-auto min-w-0 appearance-none rounded cursor-pointer inline-flex isolate relative select-none align-middle whitespace-nowrap items-center shrink-0 font-semibold justify-center">
          Get started
          <div class="text-4 i-lucide-arrow-right"></div>
        </a>
      </div>
    </div>
  </div>
</div>
