[data-layout="sinppets"] [data-scope="popover"][data-part="trigger"]{
  & {
    flex-shrink: 0;
    font-weight: 500;
    border-radius: calc(var(--radius) - 2px);
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
    column-gap: 0.625rem; /* 10px */
    padding-left: 0.875rem; /* 14px */
    padding-right: 0.875rem; /* 14px */
    padding-top: 0.625rem; /* 10px */
    padding-bottom: 0.625rem; /* 10px */
    --un-shadow: var(--un-shadow-inset) 0 1px 2px 0
      var(--un-shadow-color, rgb(0 0 0 / 0.05));
    box-shadow: var(--un-ring-offset-shadow), var(--un-ring-shadow),
      var(--un-shadow);
    --un-text-opacity: 1 !important;
    color: hsl(var(--primary-foreground) / var(--un-text-opacity))
      /* hsl(var(--primary-foreground)) */ !important;
    --un-bg-opacity: 1 !important;
    background-color: hsl(var(--primary) / var(--un-bg-opacity))
      /* hsl(var(--primary)) */ !important;
    display: inline-flex;
    align-items: center;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.75;
  }
  &:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  &:focus-visible {
    outline-style: solid;
    outline-width: 2px;
    outline-offset: 2px;
    --un-outline-color-opacity: 1;
    outline-color: rgb(242 242 242 / var(--un-outline-color-opacity))
      /* #f2f2f2 */;
  }
  &:hover {
    background-color: hsl(var(--primary) / 0.9) /* hsl(var(--primary)) */ !important;
  }
  .group[data-theme="dark"] &:focus-visible {
    --un-outline-color-opacity: 1;
    outline-color: rgb(246 246 246 / var(--un-outline-color-opacity))
      /* #f6f6f6 */;
  }
}

[data-layout="sinppets"][data-scope="popover"][data-part="positioner"]{
  z-index: 50;
}

[data-layout="sinppets"] [data-scope="popover"][data-part="content"]{
  z-index: 50;
  width: 18rem; /* 288px */
  border-radius: calc(var(--radius) - 2px);
  border-width: 1px;
  --un-border-opacity: 1;
  border-color: hsl(var(--border) / var(--un-border-opacity));
  --un-bg-opacity: 1;
  background-color: hsl(var(--popover) / var(--un-bg-opacity))
    /* hsl(var(--popover)) */;
  padding: 1rem; /* 16px */
  --un-text-opacity: 1;
  color: hsl(var(--popover-foreground) / var(--un-text-opacity))
    /* hsl(var(--popover-foreground)) */;
  --un-shadow: var(--un-shadow-inset) 0 4px 6px -1px var(--un-shadow-color, rgb(0
            0 0 / 0.1)),
    var(--un-shadow-inset) 0 2px 4px -2px var(--un-shadow-color, rgb(0 0 0 / 0.1));
  box-shadow: var(--un-ring-offset-shadow), var(--un-ring-shadow),
    var(--un-shadow);
  outline: 2px solid transparent;
  outline-offset: 2px;
}

[data-layout="sinppets"] [data-scope="popover"][data-part="title"]{
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  font-weight: 500;
  margin-bottom: 0.5rem; /* 8px */
}

[data-layout="sinppets"] [data-scope="popover"][data-part="description"]{
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  --un-text-opacity: 1;
  color: hsl(var(--muted-foreground) / var(--un-text-opacity));
  margin-bottom: 1rem; /* 16px */
}

[data-layout="sinppets"] [data-scope="popover"][data-part="close-trigger"]{
  & {
    --at-apply: i-carbon:close-large;
    position: absolute;
    top: 0.875rem; /* 14px */
    right: 0.875rem; /* 14px */
    border-radius: calc(var(--radius) - 4px);
    opacity: 0.7;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    background-color: hsl(var(--muted-foreground) / 0.7)
      /* hsl(var(--muted-foreground)) */ !important;
  }
  &:hover {
    opacity: 1;
    --un-bg-opacity: 1;
    background-color: hsl(var(--muted-foreground) / var(--un-bg-opacity))
      /* hsl(var(--muted-foreground)) */;
  }
}
