[data-layout="sinppets"] [data-scope="otp-input"][data-part="root"]{
  display: flex;
  align-items: center;
}

[data-layout="sinppets"] [data-scope="otp-input"][data-part="input"]{
  & {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    height: 2.25rem; /* 36px */
    width: 2.25rem; /* 36px */
    --un-shadow: var(--un-shadow-inset) 0 1px 2px 0
      var(--un-shadow-color, rgb(0 0 0 / 0.05));
    box-shadow: var(--un-ring-offset-shadow), var(--un-ring-shadow),
      var(--un-shadow);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    --un-text-opacity: 1;
    color: hsl(var(--primary) / var(--un-text-opacity)) /* hsl(var(--primary)) */;
    border-color: hsl(var(--primary) / 0.2);
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-right-width: 1px;
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
    background-color: transparent /* transparent */ !important;
  }
  &:first-child {
    border-top-left-radius: calc(var(--radius) - 2px);
    border-bottom-left-radius: calc(var(--radius) - 2px);
    border-left-width: 1px;
  }
  &:last-child {
    border-top-right-radius: calc(var(--radius) - 2px);
    border-bottom-right-radius: calc(var(--radius) - 2px);
  }
}
