---
const {
  mode = 'preview',
} = Astro.props
---

<div class="relative text-[15px] text-black mt-8 z-12">
  <div
    class="vp-raw border-solid border-#ededed dark:border-[#282828] [background:#f8f8f8] dark:[background:#1c1c1c] p-4 rounded-lg w-full relative items-center justify-center flex overflow-visible z-20"
    class:list={[
      mode === 'preview' ? 'rounded-lg' : '',
      mode === 'code' ? 'rounded-t-lg rounded-b-none' : '',
    ]}
  >
    <div class="w-full max-w-[700px] flex items-center py-12 sm:py-[100px] justify-center">
      <slot />
    </div>
  </div>
  <slot name="code" />
</div>
