[data-scope="breadcrumbs"][data-part="list"] {
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 6px;
  overflow-wrap: break-word;
  font-size: 14px;
  line-height: 1.5;
  color: hsl(var(--muted-foreground));

  @media (width >= 640px) {
    gap: 10px;
  }
}

[data-scope="breadcrumbs"][data-part="item"] {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  margin-top: 0 !important;
}

[data-scope="breadcrumbs"][data-part="link"]{
  text-decoration-line: none !important;
  cursor: pointer;
  color: hsl(var(--foreground) / 0.6);
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

[data-scope="breadcrumbs"][data-part="link"][data-hover="true"],
[data-scope="breadcrumbs"][data-part="link"][data-focus="true"]{
  color: hsl(var(--foreground));
}

[data-scope="breadcrumbs"][data-part="link"][data-focus="true"]{
  text-decoration-line: underline;
}

[data-scope="breadcrumbs"][data-part="link"][data-current="page"]{
  color: hsl(var(--foreground));
  cursor: default;
}

[data-scope="breadcrumbs"][data-part="link"]:hover {
  color: hsl(var(--foreground));
}
