:root {
  --radius: 0.5rem;
  --toolbar-width: 400px;
}

html {
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
  --card: 0 0% 100%;
  --card-foreground: 240 10% 3.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 3.9%;
  --primary: 240 5.9% 10%;
  --primary-foreground: 0 0% 98%;
  --secondary: 240 4.8% 95.9%;
  --secondary-foreground: 240 5.9% 10%;
  --muted: 240 4.8% 95.9%;
  --muted-foreground: 240 3.8% 46.1%;
  --accent: 240 4.8% 95.9%;
  --accent-foreground: 240 5.9% 10%;
  --destructive: 0 72.22% 50.59%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 5.9% 90%;
  --input: 240 5.9% 90%;
  --ring: 240 5% 64.9%;
}

html.dark {
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;
  --card: 240 10% 3.9%;
  --card-foreground: 0 0% 98%;
  --popover: 240 10% 3.9%;
  --popover-foreground: 0 0% 98%;
  --primary: 0 0% 98%;
  --primary-foreground: 240 5.9% 10%;
  --secondary: 240 3.7% 15.9%;
  --secondary-foreground: 0 0% 98%;
  --muted: 240 3.7% 15.9%;
  --muted-foreground: 240 5% 64.9%;
  --accent: 240 3.7% 15.9%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 85.7% 97.3%;
  --border: 240 3.7% 15.9%;
  --input: 240 3.7% 15.9%;
  --ring: 240 4.9% 83.9%;
}

[data-layout="sinppets"]{
  min-width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0 !important;
}


.controls-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  order: 1;
  padding: 12px 22px;
}
.controls-container .text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.controls-container .text label {
  font-weight: 500;
}
.controls-container .text input,
.controls-container .text select {
  padding: 4px;
  border: solid 1px black;
  border-radius: 4px;
}

.toolbar {
  border-left: solid 1px hsl(var(--border));
  width: var(--toolbar-width, 400px);
  display: flex;
  flex-direction: column;
  z-index: 10;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
}

.toolbar nav {
  padding: 16px;
  display: flex;
  gap: 24px;
  border-bottom: solid 1px hsl(var(--border));
}

.toolbar nav button {
  all: unset;
  font-weight: 500;
  color: hsl(var(--primary) / 0.6);
  cursor: pointer;

  &:hover {
    color: hsl(var(--primary) / 0.8);
  }

  &[data-active] {
    color: hsl(var(--primary) / 1.0);
  }
}

.toolbar > div {
  max-height: 100%;
  overflow: hidden;
}

.toolbar [data-content] {
  display: none;
}

.toolbar [data-content][data-active] {
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

.toolbar .viz {
  font-size: 13px;
  padding-left: 14px;
  flex: 1;
  overflow: auto;
  border-bottom: solid 1px hsl(var(--border));
}

.toolbar .viz summary {
  font-weight: bold;
  cursor: pointer;
}
