:root {
  --primary: 39, 39, 42;
  --foreground: 250, 250, 250;
  --border: 39, 39, 42;
  --accent: 39, 39, 42;
  --accent-foreground: 250, 250, 250;
  --muted-foreground: 161, 161, 170;
}
.box{
  width: 100%;
  max-width: 18.75rem; /* 300px */
  margin-left: 1rem; /* 16px */
  margin-right: 1rem; /* 16px */
}

.text{
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  color: rgb(var(--foreground));
}

.desc {
  display: flex;
  align-items: center;
  height: 1.25rem; /* 20px */
}

.divider {
  background-color: rgb(var(--primary),0.5);
}
.divider[data-orientation="horizontal"] {
  height: 1px;
  width: 100%;
}
.divider[data-orientation="horizontal"] {
  height: 100%;
  width: 1px;
}
