@import "../../css/index.css";
:root {
  --border: hsl(240 3.7% 15.9%);
  --input: hsl(240 3.7% 15.9%);
  --ring: hsl(240 4.9% 83.9%);
  --background: hsl(240 10% 3.9%);
  --foreground: hsl(0 0% 98%);
  --primary: hsl(0 0% 98%);
  --primary-foreground: hsl(240 5.9% 10%);
  --secondary: hsl(240 3.7% 15.9%);
  --secondary-foreground: hsl(0 0% 98%);
  --destructive: hsl(0 62.8% 30.6%);
  --destructive-foreground: hsl(0 85.7% 97.3%);
  --muted: hsl(240 3.7% 15.9%);
  --muted-foreground: hsl(240 5% 64.9%);
  --accent: hsl(240 3.7% 15.9%);  
  --accent-foreground: hsl(0 0% 98%);
  --popover: hsl(240 10% 3.9%);
  --popover-foreground: hsl(0 0% 98%);
  --card: hsl(240 10% 3.9%);
  --card-foreground: hsl(0 0% 98%);
}

.collapse-root {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.collapse-item {
  border-bottom: 1px solid var(--border);
  width: 100%;
  margin-top: 0;
}

.collapse-header {
  display: flex;
}

.collapse-trigger {
  cursor: pointer;
  color: var(--primary);
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  font-size: 0.875rem;
  font-weight: 500;
  transition: all 0.2s;
}

.collapse-trigger:hover {
  text-decoration: underline;
}

.collapse-indicator {
  height: 1rem;
  width: 1rem;
  flex-shrink: 0;
  color: var(--accent-foreground);
  transition: transform 0.2s;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="currentColor" d="M16 22L6 12l1.4-1.4 8.6 8.6 8.6-8.6L26 12z"/></svg>');
  background-size: contain;
  background-repeat: no-repeat;
}

[data-state="open"] > .collapse-header > .collapse-trigger > .collapse-indicator {
  transform: rotate(-180deg);
}

.collapse-content {
  overflow: hidden;
  font-size: 0.875rem;
  margin-top: 0;
}

.collapse-content[data-state="closed"] {
  display: none;
}

.collapse-content-inner {
  padding-bottom: 1rem;
  padding-top: 0;
}

.collapse-text {
  color: var(--muted-foreground);
  margin-top: 0;
}

[data-state="open"] .collapse-indicator {
  transform: rotate(180deg);
}
