[data-scope="collapse"][data-part="root"] {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 40ch;
}

[data-scope="collapse"] h3 {
  margin: 0;
  min-width: 355px;
}

[data-scope="collapse"][data-part="item-indicator"][data-state="open"] {
  rotate: 90deg;
}

[data-scope="collapse"][data-part="item-trigger"] {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  width: 100%;
}

[data-scope="collapse"][data-part="item-content"] {
  padding-block: 12px;
}

[data-scope="collapse"][data-part="item-indicator"] {
  display: inline-flex;
}
