.popover-trigger {
  display: inline-block;
  cursor: pointer;
  border-radius: 4px;
  background-color: rgb(13 148 136);
  padding: 4px 16px;
  color: rgb(255 255 255);
}

.popover-content {
  border-radius: 4px;
  padding: 8px;
  width: 260px;
  background-color: rgb(13 148 136);
  color: rgb(255 255 255);
}
