:root {
  --border: hsl(240 3.7% 15.9%);
  --input: hsl(240 3.7% 15.9%);
  --ring: hsl(240 4.9% 83.9%);
  --background: hsl(240 10% 3.9%);
  --foreground: hsl(0 0% 98%);
  --primary: hsl(0 0% 98%);
  --primary-foreground: hsl(240 5.9% 10%);
  --secondary: hsl(240 3.7% 15.9%);
  --secondary-foreground: hsl(0 0% 98%);
  --destructive: hsl(0 62.8% 30.6%);
  --destructive-foreground: hsl(0 85.7% 97.3%);
  --muted: hsl(240 3.7% 15.9%);
  --muted-foreground: hsl(240 5% 64.9%);
  --accent: hsl(240 3.7% 15.9%);  
  --accent-foreground: hsl(0 0% 98%);
  --popover: hsl(240 10% 3.9%);
  --popover-foreground: hsl(0 0% 98%);
  --card: hsl(240 10% 3.9%);
  --card-foreground: hsl(0 0% 98%);
}

.container {
  width: 100%;
  min-width: 22.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.title {
  color: var(--primary);
  font-size: 0.875rem;
  font-weight: 600;
}

.subtitle {
  color: var(--primary);
  font-size: 0.875rem;
  margin-top: 0 !important;
}

.separator-horizontal {
  background-color: rgba(214, 211, 209, 0.5);
  height: 1px;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.items-row {
  display: flex;
  height: 1.25rem;
  align-items: center;
  margin-top: 0 !important;
}

.item-label {
  color: var(--primary);
  font-size: 0.875rem;
  margin-top: 0 !important;
}

.separator-vertical {
  background-color: rgba(214, 211, 209, 0.5);
  height: 100%;
  width: 1px;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0 !important;
}
