:root {
  --primary: 39, 39, 42;
  --foreground: 250, 250, 250;
  --border: 39, 39, 42;
  --accent: 39, 39, 42;
  --accent-foreground: 250, 250, 250;
  --muted-foreground: 161, 161, 170;
}

.box {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.switch-root {
  display: inline-flex;
  height: 1.5rem;
  width: 2.75rem;
  cursor: pointer;
  align-items: center;
  border-radius: 9999px;
  border: 2px solid transparent;
  transition: background-color 0.15s ease, border-color 0.15s ease;
}

.switch-root:focus-visible {
  outline: none;
  box-shadow: 0 0 0 4px rgba(var(--ring),1);
  outline-offset: 2px;
}

.switch-root:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.switch-root[data-state="checked"] {
  background-color: rgb(var(--primary));
}

.switch-root[data-state="unchecked"] {
  background-color: rgb(var(--input));
}

.label {
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
  color: black;
  font-weight: 500;
  line-height: 1;
}

.dark .label {
  color: white;
}

.switch-thumb {
  pointer-events: none;
  display: block;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;
  background-color: rgb(var(--background));
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border: 0;
  transition: transform 0.15s ease;
}

.switch-thumb[data-state="checked"] {
  transform: translateX(1.25rem);
}

.custom-slider-thumb[data-state="unchecked"] {
  transform: translateX(0);
}
