:root {
  --primary: 39, 39, 42;
  --foreground: 250, 250, 250;
  --border: 39, 39, 42;
  --accent: 39, 39, 42;
  --accent-foreground: 250, 250, 250;
  --muted-foreground: 161, 161, 170;
}

.comboboxRoot {
  position: relative;
}

.comboboxAnchor {
  display: flex;
  height: 2.25rem; /* 36px */
  width: 100%;
  border-radius: 0.375rem; /* 6px */
  border-color: rgba(var(--input), 1.0);
  border-width: 1px;
  background-color: transparent;
  padding-left: 0.25rem; /* 4px */
  padding-right: 0.25rem; /* 4px */
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  transition-property: color, background-color, border-color, outline-color,
  text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.comboboxAnchor::file-selector-button {
  border-width: 0px;
  background-color: transparent;
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  font-weight: 500;
}
.comboboxAnchor::placeholder {
  color: rgba(var(--muted-foreground), 1.0);
}
.comboboxAnchor::focus-visible {
  outline: 2px solid transparent;
  outline-offset: 2px;
  box-shadow:  0 0 0 1px rgb(var(--ring));
}

.comboboxAnchor:disabled{
  cursor: not-allowed;
  opacity: 0.5;
}

.comboboxInput{
  background-color: transparent;
  color: rgba(var(--primary), 1.0);
  width: 100%;
  outline: 2px solid transparent;
  outline-offset: 2px;
  margin-left: 0.5rem; /* 8px */
}

.comboboxTrigger[data-state="open"] > svg {
  transform: rotate(180deg);
}

.icon{
  width: 1rem; /* 16px */
  height: 1rem; /* 16px */
  color: rgba(var(--primary), 0.8);
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.comboboxContent {
  position: absolute;
  z-index: 10;
  margin-top: 0.25rem; /* 4px */
  width: 100%;
  border-radius: 0.375rem; /* 6px */
  border-width: 1px;
  background-color: rgba(var(--popover), 1.0);
  padding: 0.25rem; /* 4px */
  color: rgba(var(--popover-foreground), 1.0);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.comboboxContent[data-side="bottom"]{
  --una-enter-translate-y: -0.5rem; /* -8px */
}

.comboboxContent[data-side="left"]{
  --una-enter-translate-x: 0.5rem; /* 8px */
}

.comboboxContent[data-side="right"]{
  --una-enter-translate-x: -0.5rem; /* -8px */
}

.comboboxContent[data-side="top"]{
  --una-enter-translate-y: 0.5rem; /* 8px */
}

.comboboxContent[data-state="open"] {
  animation: una-in;
  animation-name: una-in;
  animation-duration: 150ms;
  --una-enter-opacity: 0;
  --una-enter-scale: 0.95;
  --una-enter-rotate: initial;
  --una-enter-translate-x: initial;
  --una-enter-translate-y: initial;
}
.comboboxContent[data-state="closed"] {
  animation: una-out;
  animation-name: una-out;
  animation-duration: 150ms;
  --una-exit-opacity: 0;
  --una-exit-scale: 0.95;
  --una-exit-rotate: initial;
  --una-exit-translate-x: initial;
  --una-exit-translate-y: initial;
}

.comboboxEmpty {
  padding-top: 0.75rem; /* 12px */
  padding-bottom: 0.75rem; /* 12px */
  text-align: center;
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}

.comboboxGroup{
  overflow: hidden;
  padding: 0.25rem; /* 4px */
}

.comboboxLabel{
  overflow: hidden;
  color: rgba(var(--foreground), 1.0);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-left: 0.5rem; /* 8px */
  padding-right: 0.5rem; /* 8px */
  padding-top: 0.25rem; /* 4px */
  padding-bottom: 0.25rem; /* 4px */
}

.comboboxItem {
  overflow: hidden;
  color: rgba(var(--foreground), 1.0);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-left: 0.5rem; /* 8px */
  padding-right: 0.5rem; /* 8px */
  padding-top: 0.25rem; /* 4px */
  padding-bottom: 0.25rem; /* 4px */
}

.comboboxItem[data-highlighted] {
  background-color: rgba(var(--accent), 1.0);
  border-radius: 0.25rem; /* 4px */
}

.comboboxItemIndicator {
  margin-left: auto;
  height: 1rem; /* 16px */
  width: 1rem; /* 16px */
}

.comboboxSeparator{
  height: 1px;
  background-color: rgba(var(--foreground), 0.1);
  margin: 0.25rem; /* 4px */
}

@keyframes una-in {
  from {
    opacity: var(--una-enter-opacity, 1);
    transform: translate3d(
        var(--una-enter-translate-x, 0),
        var(--una-enter-translate-y, 0),
        0
      )
      scale3d(
        var(--una-enter-scale, 1),
        var(--una-enter-scale, 1),
        var(--una-enter-scale, 1)
      )
      rotate(var(--una-enter-rotate, 0));
  }
}

@keyframes una-out {
  to {
    opacity: var(--una-exit-opacity, 1);
    transform: translate3d(
        var(--una-exit-translate-x, 0),
        var(--una-exit-translate-y, 0),
        0
      )
      scale3d(
        var(--una-exit-scale, 1),
        var(--una-exit-scale, 1),
        var(--una-exit-scale, 1)
      )
      rotate(var(--una-exit-rotate, 0));
  }
}
