[data-layout="sinppets"] [data-scope="progress"][data-part="root"]{
  width: 450px;
}

[data-layout="sinppets"] [data-scope="progress"][data-part="track"]{
  height: 0.5rem; /* 8px */
  width: 100%;
  overflow: hidden;
  border-radius: 9999px;
  --un-bg-opacity: 1;
  background-color: hsl(var(--secondary) / var(--un-bg-opacity));
}

[data-layout="sinppets"] [data-scope="progress"][data-part="range"]{
  height: 100%;
  width: 100%;
  flex: 1 1 0%;
  --un-bg-opacity: 1;
  background-color: hsl(var(--primary) / var(--un-bg-opacity))
    /* hsl(var(--primary)) */;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
