[data-layout="sinppets"] [data-scope="pagination"][data-part="root"]{
  display: flex;
  justify-content: center;
  margin-top: 0 !important;

  & ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem; /* 4px */
    margin: 0 !important;
    list-style-type: none !important;
  }
}

[data-layout="sinppets"] [data-scope="pagination"][data-part="prev-trigger"]{
  & {
    text-decoration: none !important;
    --un-text-opacity: 1 !important;
    color: hsl(var(--primary) / var(--un-text-opacity)) /* hsl(var(--primary)) */ !important;
    display: inline-flex;
    cursor: pointer;
    height: 2.25rem; /* 36px */
    width: 2.25rem; /* 36px */
    align-items: center;
    justify-content: center;
    border-radius: calc(var(--radius) - 2px);
    border-width: 1px;
    --un-border-opacity: 1;
    border-color: hsl(var(--input) / var(--un-border-opacity));
    --un-bg-opacity: 1;
    background-color: hsl(var(--background) / var(--un-bg-opacity))
      /* hsl(var(--background)) */;
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
    font-weight: 500;
  }
  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }
  &:focus-visible {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --un-ring-width: 2px;
    --un-ring-offset-shadow: var(--un-ring-inset) 0 0 0
      var(--un-ring-offset-width) var(--un-ring-offset-color);
    --un-ring-shadow: var(--un-ring-inset) 0 0 0
      calc(var(--un-ring-width) + var(--un-ring-offset-width))
      var(--un-ring-color);
    box-shadow: var(--un-ring-offset-shadow), var(--un-ring-shadow),
      var(--un-shadow);
    --un-ring-opacity: 1;
    --un-ring-color: hsl(var(--ring) / var(--un-ring-opacity))
      /* hsl(var(--ring)) */;
  }
  &:hover {
    --un-bg-opacity: 1;
    background-color: hsl(var(--accent) / var(--un-bg-opacity))
      /* hsl(var(--accent)) */;
    --un-text-opacity: 1;
    color: hsl(var(--accent-foreground) / var(--un-text-opacity))
      /* hsl(var(--accent-foreground)) */;
  }
  &[data-selected] {
    --un-bg-opacity: 1;
    background-color: hsl(var(--accent) / var(--un-bg-opacity))
      /* hsl(var(--accent)) */;
    --un-text-opacity: 1;
    color: hsl(var(--accent-foreground) / var(--un-text-opacity))
      /* hsl(var(--accent-foreground)) */;
  }

  & div {
    width: 1rem;
    height: 1rem;
    margin-right: 0.25rem;
    --at-apply: i-carbon:chevron-left;
  }
}

[data-layout="sinppets"] [data-scope="pagination"][data-part="item"]{
  & {
    text-decoration: none !important;
    --un-text-opacity: 1 !important;
    color: hsl(var(--primary) / var(--un-text-opacity)) /* hsl(var(--primary)) */ !important;
    display: inline-flex;
    cursor: pointer;
    height: 2.25rem; /* 36px */
    width: 2.25rem; /* 36px */
    align-items: center;
    justify-content: center;
    border-radius: calc(var(--radius) - 2px);
    border-width: 1px;
    --un-border-opacity: 1;
    border-color: hsl(var(--input) / var(--un-border-opacity));
    --un-bg-opacity: 1;
    background-color: hsl(var(--background) / var(--un-bg-opacity))
      /* hsl(var(--background)) */;
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
    font-weight: 500;
  }
  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }
  &:focus-visible {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --un-ring-width: 2px;
    --un-ring-offset-shadow: var(--un-ring-inset) 0 0 0
      var(--un-ring-offset-width) var(--un-ring-offset-color);
    --un-ring-shadow: var(--un-ring-inset) 0 0 0
      calc(var(--un-ring-width) + var(--un-ring-offset-width))
      var(--un-ring-color);
    box-shadow: var(--un-ring-offset-shadow), var(--un-ring-shadow),
      var(--un-shadow);
    --un-ring-opacity: 1;
    --un-ring-color: hsl(var(--ring) / var(--un-ring-opacity))
      /* hsl(var(--ring)) */;
  }
  &:hover {
    --un-bg-opacity: 1;
    background-color: hsl(var(--accent) / var(--un-bg-opacity))
      /* hsl(var(--accent)) */;
    --un-text-opacity: 1;
    color: hsl(var(--accent-foreground) / var(--un-text-opacity))
      /* hsl(var(--accent-foreground)) */;
  }
  &[data-selected] {
    --un-bg-opacity: 1;
    background-color: hsl(var(--accent) / var(--un-bg-opacity))
      /* hsl(var(--accent)) */;
    --un-text-opacity: 1;
    color: hsl(var(--accent-foreground) / var(--un-text-opacity))
      /* hsl(var(--accent-foreground)) */;
  }
}

[data-layout="sinppets"] [data-scope="pagination"][data-part="ellipsis"]{
  display: inline-flex;
  height: 2.25rem; /* 36px */
  cursor: pointer;
  width: 2.25rem; /* 36px */
  align-items: center;
  justify-content: center;
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  font-weight: 500;
  --un-text-opacity: 1 !important;
  color: hsl(var(--muted-foreground) / var(--un-text-opacity))
    /* hsl(var(--muted-foreground)) */ !important;
}

[data-layout="sinppets"] [data-scope="pagination"][data-part="next-trigger"]{
  & {
    text-decoration: none !important;
    --un-text-opacity: 1 !important;
    color: hsl(var(--primary) / var(--un-text-opacity)) /* hsl(var(--primary)) */ !important;
    display: inline-flex;
    cursor: pointer;
    height: 2.25rem; /* 36px */
    width: 2.25rem; /* 36px */
    align-items: center;
    justify-content: center;
    border-radius: calc(var(--radius) - 2px);
    border-width: 1px;
    --un-border-opacity: 1;
    border-color: hsl(var(--input) / var(--un-border-opacity));
    --un-bg-opacity: 1;
    background-color: hsl(var(--background) / var(--un-bg-opacity))
      /* hsl(var(--background)) */;
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
    font-weight: 500;
  }
  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }
  &:focus-visible {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --un-ring-width: 2px;
    --un-ring-offset-shadow: var(--un-ring-inset) 0 0 0
      var(--un-ring-offset-width) var(--un-ring-offset-color);
    --un-ring-shadow: var(--un-ring-inset) 0 0 0
      calc(var(--un-ring-width) + var(--un-ring-offset-width))
      var(--un-ring-color);
    box-shadow: var(--un-ring-offset-shadow), var(--un-ring-shadow),
      var(--un-shadow);
    --un-ring-opacity: 1;
    --un-ring-color: hsl(var(--ring) / var(--un-ring-opacity))
      /* hsl(var(--ring)) */;
  }
  &:hover {
    --un-bg-opacity: 1;
    background-color: hsl(var(--accent) / var(--un-bg-opacity))
      /* hsl(var(--accent)) */;
    --un-text-opacity: 1;
    color: hsl(var(--accent-foreground) / var(--un-text-opacity))
      /* hsl(var(--accent-foreground)) */;
  }
  &[data-selected] {
    --un-bg-opacity: 1;
    background-color: hsl(var(--accent) / var(--un-bg-opacity))
      /* hsl(var(--accent)) */;
    --un-text-opacity: 1;
    color: hsl(var(--accent-foreground) / var(--un-text-opacity))
      /* hsl(var(--accent-foreground)) */;
  }

  & div {
    width: 1rem;
    height: 1rem;
    margin-right: 0.25rem;
    --at-apply: i-carbon:chevron-right;
  }
}
