@import "tailwindcss";
@plugin "@egoist/tailwindcss-icons";

@theme {
  --color-border: hsl(240 3.7% 15.9%);
  --color-input: hsl(240 3.7% 15.9%);
  --color-ring: hsl(240 4.9% 83.9%);
  --color-background: hsl(240 10% 3.9%);
  --color-foreground: hsl(0 0% 98%);
  --color-primary: hsl(0 0% 98%);
  --color-primary-foreground: hsl(240 5.9% 10%);
  --color-secondary: hsl(240 3.7% 15.9%);
  --color-secondary-foreground: hsl(0 0% 98%);
  --color-destructive: hsl(0 62.8% 30.6%);
  --color-destructive-foreground: hsl(0 85.7% 97.3%);
  --color-muted: hsl(240 3.7% 15.9%);
  --color-muted-foreground: hsl(240 5% 64.9%);
  --color-accent: hsl(240 3.7% 15.9%);
  --color-accent-foreground: hsl(0 0% 98%);
  --color-popover: hsl(240 10% 3.9%);
  --color-popover-foreground: hsl(0 0% 98%);
  --color-card: hsl(240 10% 3.9%);
  --color-card-foreground: hsl(0 0% 98%);
  --border-radius-xl: calc(0.5rem + 4px);
  --border-radius-lg: 0.5rem;
  --border-radius-md: calc(0.5rem - 2px);
  --border-radius-sm: calc(0.5rem - 4px);
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--destyler-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--destyler-height);
  }
  to {
    height: 0;
  }
}

.animate-slide-container[data-state='open'] {
  animation: slideDown 450ms cubic-bezier(0.16, 1, 0.3, 1);
}
.animate-slide-container[data-state='closed'] {
  animation: slideUp 250ms cubic-bezier(0.16, 1, 0.3, 1);
}
