[data-layout="sinppets"] [data-scope="scroll-area"][data-part="root"] {
  width: 200px;
  height: 225px;
  border-radius: calc(var(--radius) - 2px);
  overflow: hidden;
  --un-shadow: var(--un-shadow-inset) 0 1px 3px 0
    var(--un-shadow-color, rgb(0 0 0 / 0.1)),
    var(--un-shadow-inset) 0 1px 2px -1px
    var(--un-shadow-color, rgb(0 0 0 / 0.1));
  box-shadow: var(--un-ring-offset-shadow), var(--un-ring-shadow),
    var(--un-shadow);
  border: 1px solid hsl(var(--border));
  background-color: hsl(var(--background));
}

[data-layout="sinppets"] [data-scope="scroll-area"][data-part="viewport"] {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

[data-layout="sinppets"] [data-scope="scroll-area"][data-part="content"] {
  padding: 1rem;
}

[data-layout="sinppets"] [data-scope="scroll-area"] .scroll-area-header {
  padding-bottom: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: hsl(var(--foreground));
}

[data-layout="sinppets"] [data-scope="scroll-area"] .scroll-area-item {
  margin-top: 0.5rem;
  padding: 0 0.5rem;
  border-radius: calc(var(--radius) - 4px);
  border-width: 1px;
  border-color: hsl(var(--border));
  font-size: 0.875rem;
  line-height: 2rem;
  color: hsl(var(--muted-foreground));
  cursor: default;
}

[data-layout="sinppets"] [data-scope="scroll-area"] .scroll-area-item:first-of-type {
  margin-top: 0;
}

[data-layout="sinppets"] [data-scope="scroll-area"][data-part="scrollbar"] {
  display: flex;
  touch-action: none;
  user-select: none;
  padding: 1px;
  background-color: hsl(var(--muted) / 0.5);
  transition: background-color 160ms ease-out;
}

[data-layout="sinppets"] [data-scope="scroll-area"][data-part="scrollbar"]:hover {
  background-color: hsl(var(--muted));
}

[data-layout="sinppets"] [data-scope="scroll-area"][data-part="scrollbar"][data-orientation="vertical"] {
  width: 10px;
}

[data-layout="sinppets"] [data-scope="scroll-area"][data-part="scrollbar"][data-orientation="horizontal"] {
  flex-direction: column;
  height: 10px;
}

[data-layout="sinppets"] [data-scope="scroll-area"][data-part="thumb"] {
  flex: 1;
  background-color: hsl(var(--border));
  border-radius: 10px;
  position: relative;
}

[data-layout="sinppets"] [data-scope="scroll-area"][data-part="thumb"]::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  min-width: 44px;
  min-height: 44px;
}

[data-layout="sinppets"] [data-scope="scroll-area"][data-part="corner"] {
  background-color: hsl(var(--muted));
}
