.collapsible-root {
  max-width: 448px;
  margin-top: 32px;
  margin-bottom: 32px;
  border-radius: 8px;
  overflow: hidden;
}

.collapsible-trigger {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f3f4f6;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
  cursor: pointer;
  border: none;
}

.collapsible-trigger:hover {
  background-color: #e5e7eb;
}

.collapsible-trigger-icon {
  font-size: 14px;
  line-height: 20px;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.group[data-state="open"] .collapsible-trigger-icon {
  transform: rotate(180deg);
}

.content {
  background-color: #ffffff;
  overflow: hidden;
  border: 1px solid #e5e7eb;
  border-top: none;
  border-radius: 0 0 8px 8px;
}

.desc {
  color: #374151;
  margin-top: 8px;
  margin-bottom: 8px;
}

.p-4 {
  padding: 16px;
}

.leading-relaxed{
  line-height: 1.625;
}
