[data-layout="sinppets"] [data-scope="select"][data-part="trigger"]{
  & {
    display: flex;
    align-items: center;
    border-width: 1px;
    --un-bg-opacity: 1;
    background-color: hsl(var(--background) / var(--un-bg-opacity))
      /* hsl(var(--background)) */;
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
    justify-content: space-between;
    height: 2.5rem; /* 40px */
    min-width: 8rem; /* 128px */
    width: 100%;
    border-radius: calc(var(--radius) - 2px);
    padding-left: 0.75rem; /* 12px */
    padding-right: 0.75rem; /* 12px */
    padding-top: 0.5rem; /* 8px */
    padding-bottom: 0.5rem; /* 8px */
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    --un-border-opacity: 1;
    border-color: hsl(var(--input) / var(--un-border-opacity));
    outline: 2px solid transparent !important;
    outline-offset: 2px !important;
    cursor: pointer;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  &:hover {
    --un-bg-opacity: 1;
    background-color: hsl(var(--accent) / var(--un-bg-opacity))
      /* hsl(var(--accent)) */;
    --un-text-opacity: 1;
    color: hsl(var(--accent-foreground) / var(--un-text-opacity))
      /* hsl(var(--accent-foreground)) */;
  }

  & span:first-child {
    --un-text-opacity: 1;
    color: hsl(var(--foreground) / var(--un-text-opacity));
  }

  & span:last-child {
    & {
      --at-apply: i-carbon:chevron-down;
      width: 1rem; /* 16px */
      height: 1rem; /* 16px */
      transition-property: transform;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;
      transition-duration: 300ms;
      --un-text-opacity: 1;
      color: hsl(var(--muted-foreground) / var(--un-text-opacity));
      margin-left: 0.5rem;
    }
    [data-state="open"] & {
      --un-rotate-x: 0;
      --un-rotate-y: 0;
      --un-rotate-z: 0;
      --un-rotate: -180deg;
      transform: translateX(var(--un-translate-x)) translateY(var(--un-translate-y))
        translateZ(var(--un-translate-z)) rotate(var(--un-rotate))
        rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y))
        rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y))
        scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y))
        scaleZ(var(--un-scale-z));
    }
  }
}

[data-layout="sinppets"][data-scope="select"][data-part="positioner"]{
  position: relative;
  z-index: 50 !important;
  min-width: 8rem; /* 128px */
  width: var(--reference-width);
}

[data-layout="sinppets"] [data-scope="select"][data-part="content"]{
  & {
    position: absolute;
    width: 100%;
    border-radius: calc(var(--radius) - 2px);
    border-width: 1px;
    --un-border-opacity: 1 !important;
    border-color: hsl(var(--input) / var(--un-border-opacity)) !important;
    --un-bg-opacity: 1;
    background-color: hsl(var(--popover) / var(--un-bg-opacity))
      /* hsl(var(--popover)) */;
    padding: 0.25rem; /* 4px */
    --un-text-opacity: 1;
    color: hsl(var(--popover-foreground) / var(--un-text-opacity))
      /* hsl(var(--popover-foreground)) */;
    --un-shadow: var(--un-shadow-inset) 0 10px 15px -3px var(--un-shadow-color, rgb(0
              0 0 / 0.1)),
      var(--un-shadow-inset) 0 4px 6px -4px var(--un-shadow-color, rgb(0 0 0 / 0.1));
    box-shadow: var(--un-ring-offset-shadow), var(--un-ring-shadow),
      var(--un-shadow);
    animation: una-in;
    animation-name: una-in;
    animation-duration: 150ms;
    --una-enter-opacity: initial;
    --una-enter-scale: initial;
    --una-enter-rotate: initial;
    --una-enter-translate-x: initial;
    --una-enter-translate-y: initial;
    --una-enter-opacity: 0;
    --una-enter-scale: 0.95;
  }
}

[data-layout="sinppets"] [data-scope="select"][data-part="item"]{
  & {
    position: relative;
    display: flex;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    align-items: center;
    border-radius: calc(var(--radius) - 4px);
    padding-left: 0.5rem; /* 8px */
    padding-right: 0.5rem; /* 8px */
    padding-top: 0.375rem; /* 6px */
    padding-bottom: 0.375rem; /* 6px */
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
    outline: 2px solid transparent;
    outline-offset: 2px;
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
  &:focus {
    --un-bg-opacity: 1;
    background-color: hsl(var(--accent) / var(--un-bg-opacity))
      /* hsl(var(--accent)) */;
    --un-text-opacity: 1;
    color: hsl(var(--accent-foreground) / var(--un-text-opacity))
      /* hsl(var(--accent-foreground)) */;
  }
  &:hover {
    --un-bg-opacity: 1;
    background-color: hsl(var(--accent) / var(--un-bg-opacity))
      /* hsl(var(--accent)) */;
    --un-text-opacity: 1;
    color: hsl(var(--accent-foreground) / var(--un-text-opacity))
      /* hsl(var(--accent-foreground)) */;
  }
  &[data-disabled] {
    pointer-events: none;
    opacity: 0.5;
  }
}

[data-layout="sinppets"] [data-scope="select"][data-part="item-indicator"]{
  margin-left: auto;
  padding-left: 0.5rem; /* 8px */
  --un-text-opacity: 1;
  color: hsl(var(--primary) / var(--un-text-opacity));

  & span {
    --at-apply: i-lucide:check;
    width: 1rem;
    height: 1rem;
  }
}
