name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    name: 'Test: node-${{ matrix.node }}'
    strategy:
      fail-fast: false
      matrix:
        node: [20, 22, 24]
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          sparse-checkout-cone-mode: false
          sparse-checkout: |
            /*
            !/.specstory/

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Install
        run: pnpm install --no-frozen-lockfile

      - name: Install Playwright Browsers
        run: pnpm playwright install --with-deps

      - name: Build
        run: pnpm run build

      - name: Test
        run: pnpm run test

      - name: Report Coverage
        if: always() && matrix.node == 24
        uses: davelosert/vitest-coverage-report-action@v2
