name: CI LINT

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          sparse-checkout-cone-mode: false
          sparse-checkout: |
            /*
            !/.specstory/

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: latest

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Install
        run: pnpm install --no-frozen-lockfile

      - name: Lint
        run: pnpm run lint
