@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--destyler-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--destyler-height);
  }
  to {
    height: 0;
  }
}

.content[data-state='open'] {
  animation: slideDown 450ms cubic-bezier(0.16, 1, 0.3, 1);
}
.content[data-state='closed'] {
  animation: slideUp 250ms cubic-bezier(0.16, 1, 0.3, 1);
}
